---
---

@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color:#159957;
    background-image: url(/CTlogo.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}
.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
    visibility: hidden;
}
